<nav class="c-navigation {% if site.fixedNav == 'true' %}is-fixed{% endif %}">
  <div class="c-navigation__container u-container">
    <a class="c-navigation__item {% if page.url == '/' %}is-active{% endif %}" href="{{ "/" | prepend: site.baseurl }}">Home</a>
    <!--- <a class="c-navigation__item {% if page.url == '/about/' %}is-active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a> -->
    <!--- <a class="c-navigation__item {% if page.url == '/blog/' %}is-active{% endif %}" href="{{ "/blog/" | prepend: site.baseurl }}">Blog</a> -->
    <a class="c-navigation__item {% if page.url == '/research/' %}is-active{% endif %}" href="{{ "/research/" | prepend: site.baseurl }}">Research</a>
    <a class="c-navigation__item {% if page.url == '/courses/' %}is-active{% endif %}" href="{{ "/courses/" | prepend: site.baseurl }}">Courses</a>
    <a class="c-navigation__item {% if page.url == '/schedule/' %}is-active{% endif %}" href="{{ "/schedule/" | prepend: site.baseurl }}">Schedule</a>
  </div>
</nav>
